.head {
    text-align: center;
  }

.navbar{
   list-style-type: none;
   background-color: hsl(0, 0%, 0%);
   overflow: hidden;  
  }

li{
  display: inline-block;
  padding: 20px;
}

li a{
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

li a:hover{
  background-color: purple;
}


.buttondrp {
  background-color: #048ea7;
  padding: 16px;
  font-size: 20px;
  border: none;
}

.links {
  display: none;
  background-color: #f1f1f1;
  min-width: 160px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.links a {
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .links {display: block;}




.box{
  width: 320px;
  height: 600px;
  padding: 10px;
  border: 5px solid gray;
  position:relative; 
  left:30px; 
  top: 85px;
}

.box2{
  width: 320px;
  height: 600px;
  padding: 10px;
  border: 5px solid gray;
  position:relative; 
  left: 400px; 
  top: -545px;
}

.box3{
  width: 320px;
  height: 600px;
  padding: 10px;
  border: 5px solid gray;
  position:relative;
  left: 785px;
  bottom: 1175px;
}

.box4{
  width: 320px;
  height: 600px;
  padding: 10px;
  border: 5px solid gray;
  position:relative; 
  right: -1170px; 
  top: -1803px;
}

.box5{
  width: 320px;
  height: 600px;
  padding: 10px;
  border: 5px solid gray;
  position:relative; 
  right: -1550px;
  top: -2435px;
}




.title{
  display: inline;
  text-align: center;
}

.component{ 
position:absolute;
bottom: 65px;
left: 20px;
height: 500px;
width:300px;
}

.popup{
 position: absolute;
 bottom: 5px;
 left: 70px;
 height: 30px;
 width: 200px;
 
}